/**
 * Colors Theme
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-brand-1: #E16D78;
  --vp-c-brand-2: #DC5360;
  --vp-c-brand-3: #D73A49;
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */
 :root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #FFAB70 25%,
    #D73A49
  );
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #FFAB7060 50%,
    #D73A4960
  );
  --vp-home-hero-image-filter: blur(30px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}
